@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
}

body{
  background-color: ghostwhite;
}

.App {
  text-align: center;
  background-color: ghostwhite;
  min-height: 100vh;
}
