.blogDetails{
    height: 100%;
    width: 100%;
    color: black;
    justify-content: center;
    display: flex;
    font-size: 1.3rem;
}

.blogDetails .blog h1{
    font-size: 3.1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.blogDetails .blog span{
    color: rgb(241, 130, 40);
    font-weight: bold;
}

.blogDetails .blog div{
    height: auto;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    margin-top: 20px;
}

@media screen and (max-width: 360px){
    .blogDetails .blog  h1{
        font-size: 2rem;
    }
}
