.homepage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage .title h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 1000;
    font-size: 2.1rem;
}

.homepage .title p{
    color: rgb(99, 99, 99);
    font-weight: bold;
    font-size: 1.1rem;
}

.homepage .categories{
    margin: 10px;
}

.homepage .categories select{
    width: 240px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 4px;
    border: none;
}

.blogs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.blogs .blog{
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: 20px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.15);
    padding: 20px;
    text-align: left;
    font-size: 1.1rem;
}

.blogs .blog span{
    color: rgb(241, 130, 40);
    font-weight: bold;
}

.blogs .blog h2{
    margin-top: 12px;
    font-weight: bolder;
    font-size: 1.9rem;
}

.blogs .blog .blogDescription{
    margin-top: 12px;
    color: rgb(99, 99, 99);
    font-size: 1.4rem;
}

.blogs .blog button{
    margin-top: 10px;
    background-color: #2eb2bb;
    width: 150px;
    height: 40px;
    padding: 4px;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    font-weight: 400;
}

.blogs .blog button:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.blogs .blog a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1160px){
    .blogs .blog{
        width: 400px;
        height: 320px;
    }
}

@media screen and (max-width: 960px){
    .blogs{
        grid-template-columns: 1fr;
    }
    .blogs .blog{
        width: 550px;
        height: auto;
    }
}

@media screen and (max-width: 630px){
    .blogs .blog{
        width: 400px;
    }
}

@media screen and (max-width: 480px){
    .blogs .blog{
        width: 300px;
        font-size: 0.95rem;
        margin: 10px;
    }

    .blogs .blog h2{
        font-size: 1.5rem;
    }

    .blogs .blog .blogDescription{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 360px){
    .blogs .blog{
        width: 270px;
        font-size: 0.95rem;
        margin: 5px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
    }

    .blogs .blog h2{
        font-size: 1.5rem;
    }

    .blogs .blog .blogDescription{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 320px){
    .blogs .blog{
        width: 220px;
        font-size: 1.05rem;
        margin: 5px;
    }

    .blogs .blog h2{
        font-size: 1.5rem;
    }

    .blogs .blog .blogDescription{
        font-size: 1.1rem;
    }
}