.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.navbar .links{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.navbar .links a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #000000;
}

.navbar .links a:hover{
    color: #2eb2bb;
}
